[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-hashid-field = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
django-rest-framework = "*"
markdown = "*"
django-filter = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
django-guardian = "*"
django-allauth = {extras = ["with_social"], version = "*"}
pyyaml = "*"
uritemplate = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
django-extensions = "*"
django-crispy-forms = "*"
pytest-xdist = "*"
faker = "*"
whitenoise = {extras = ["brotli"], version = "*"}
django-debug-toolbar = "*"
django-auditlog = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
djangorestframework-stubs = {extras = ["compatible-mypy"], version = "*"}
django-stubs = {extras = ["compatible-mypy"], version = "*"}
types-setuptools = "*"
flake8 = "*"
mypy = "*"
mkdocs = "*"
mkdocs-material = "*"
faker = "*"
coverage = {extras = ["toml"], version = "*"}
mkdocstrings = {extras = ["python"], version = "*"}

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
